<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>Register</title>
    <script type="text/javascript">
    jQuery(document).ready(function($) {
        $('input[@name=user]')[0].focus();
    });
    </script>
  </head>

  <body>
    <div id="content" class="register">
      <h1>Register an account</h1>

      <div class="system-message" py:if="registration_error">
        <h2>Error</h2>
        <p>$registration_error</p>
      </div>

      <form method="post" id="acctmgr_registerform" action="">
        <input type="hidden" name="action" value="create" />
          <table border="0">
            <tr>
              <td><label for="user">Username:</label></td>
              <td><input type="text" name="user" class="textwidget" id="password" size="20" value="${acctmgr.username}" /></td>
            </tr>
            <tr>
              <td><label for="password">Password:</label></td>
              <td><input type="password" name="password" id="password" class="textwidget" size="20" /></td>
            </tr>
            <tr>
              <td><label for="password_confirm">Confirm Password:</label></td>
              <td><input type="password" name="password_confirm" id="password_confirm"
                class="textwidget" size="20" /></td>
            </tr>
            <tr>
              <td><label for="name">Name:</label></td>
              <td><input type="text" name="name" id="name" class="textwidget" size="20"  value="${acctmgr.name}"/></td>
            </tr>
            <tr>
              <td><label for="email">Email:</label></td>
              <td><input type="text" name="email" id="email" class="textwidget" size="20"  value="${acctmgr.email}"/></td>
            </tr>
            <tr py:if="reset_password_enabled"><td colspan="2"><span class="hint">Entering your email address will
              enable you to reset your password if you ever forget it.</span></td></tr>
        </table>
        <input type="submit" value="Create account" />
      </form>
    </div>
  </body>
</html>
